# Python
__pycache__/
*.py[cod]
*.sqlite3
env/
venv/
*.env

# Django
*.log
*.pot
*.pyc
db.sqlite3
media/
staticfiles/

# Node/Vue
node_modules/
dist/
*.log
pgdata_saas/
# OS
.DS_Store
Thumbs.db

# VS Code
.vscode/
